
$primary-normal:#06121E;
$primary-dark: #040f1a;
$primary-ligth:#0c2135;

$secundary-normal:#090d11;
$secundary-dark: #06090c;
$secundary-light:#1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$rose-normal: #fcb9d6;
$rose-dark: #bd8789;
$rose-light: #fccbdf;